body,a,header,textarea,p,h1,h2,h3,h4,h5,h6,div,li,ul {
    margin: 0;
    padding: 0;
    border: none;
}
html{
    height: 100%;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
}
div{
    display: flex;
    align-items: center;
}

body{
    background-color: rgb(221, 221, 221);
    color: white;
    width: 95%;
    height: 95%;
}

button{
    background-color: black;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-size: small;
    border: 0;
    margin: 5px;
    border: 1px solid #ffffff;
}

textarea{
    resize: none;
}

main{
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-form{
    background-color: rgb(96, 96, 96);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.div-header{
    flex-direction: row;
}

.form-new-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-form-new-list{
    justify-content: center;
    width: 40px;
    margin-block-end: 0;
}

.div-body-todo{
    flex-wrap: wrap;
}

.div-todo{
    background-color: rgb(96, 96, 96);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    font-size: medium;
    flex-direction: column;
    width: 375px;
    height: 500px;
}

.div-tasks{
    flex-direction: column;
    height: 95%;
    width: 98%;
    overflow: auto;
}

.div-infos-list{
    flex-direction: column;
    padding-right: 5px;
}

.div-task{
    width: 100%;
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
}

.button-edit-header{
    padding: 0;
    height: 30.62px;
    width: 30.62px;
    display: flex;
    justify-content: center;
}
.img-button-edit-header{
    height: 70%;
    width: 70%;
}

.button-task{
    height: 20px;
    width: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
}
.img-button-task{
    height: 70%;
    width: 70%;
}

.logo-github{
    width: 30px;
}

.button-new-task{
    height: 22px;
}

.button-delete-task{
    height: 22px;
}

.form-new-task{
    display: flex;
}

.button-new-list{
    font-size: xx-large;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
}

.button-clear-all{
    height: 40px;
}

.form-edit-task{
    display: flex;
}